<form class="form-horizontal" action= "/" method="POST">
<fieldset>
  
<!-- Form Name -->
<legend>Cores Completed</legend>

<!-- Multiple Checkboxes -->
<div class="form-group">
<input type="checkbox" name="WC"/>
    <label for="WC">WC</label>
<input type="checkbox" name="WCr"/>
   <label for="WCr">WCr</label>
<input type="checkbox" name="WCd"/>
    <label for="WCd">WCd</label>
<input type="checkbox" name="HST"/>
    <label for="HST">HST</label>
<input type="checkbox" name="SCL"/>
    <label for="SCL">SCL</label>
<input type="checkbox" name="ITR"/>
    <label for="ITR">ITR</label>
<input type="checkbox" name="NS"/>
    <label for="NS">NS</label>
<input type="checkbox" name="CC"/>
    <label for="CC">CC</label>
<input type="checkbox" name="QQ"/>
    <label for="QQ">QQ</label>
<input type="checkbox" name="QR"/>
    <label for="QR">QR</label>
<input type="checkbox" name="Ahp"/>
    <label for="Ahp">Ahp</label>
<input type="checkbox" name="Ahq"/>
    <label for="Ahq">Ahq</label>
<input type="checkbox" name="Ahr"/>
    <label for="Ahr">Ahr</label>
<input type="checkbox" name="Aho"/>
    <label for="Aho">Aho</label>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="generatebutton"></label>
  <div class="col-md-4">
    <button id="generatebutton" name="generatebutton" class="btn btn-primary"> Generate</button>
  </div>
</div>

</fieldset>
</form>
